<!DOCTYPE html>

<title>Reserve</title>

<html>
    <meta charset="UTF-8">
  <!-- link contact css-->
  <link rel="stylesheet" type="text/css" href="reserve.css">

<body>
    
<nav class="announcementNav">
    announcement
</nav>

    <header>
     
        
    <nav class="topNav" >

          <!-- logo placement-->
          <a  href="../home/home.html">
          <img class="logo"
          src="../images/GEG-logo.png" 
          alt ="Great Escape Games logo"
          >
        </a>

           <!--search bar-->
            <input type="text" id="search-bar" placeholder="Search...">
            <button id="search-button">Search</button>
          
            
         <!--right side of top nav bar login/cart-->
            <div class="topNav-right"> 
    
            <!--login with dropdown-->
            <div class="dropdown">
                <button class ="dropbtn"></button>
            <a href="#login">
                <img src ="../images/login.png" 
                alt = "login"
                >
            </a>
            <div class="dropdown-content">
                <a href="../hours/hours.html">Sign in</a>
                <a href="#">Join</a>
            </div>
        </div>

           <!--cart-->
            <div class="dropdown">
                <a href="../Cart/cart.html" 
               >
                <img src ="../images/cart.png" 
                alt = "cart"
             >
                </a>
        
          </div>
 
        </nav>
</header>
    
   
    <!-- navi bar of home using css class homeNav-->
    <body style="background-color:white;">

        <div class="homeNav">
          <a href="../home/home.html">Home</a>

          <!--news-->
          <div class="dropdown">
            <button class="dropbtn">News
         
            </button>
            <div class="dropdown-content">
              <a href="#">Event Calendar</a>
              <a href="./reserve.html">Reserve Room</a>
              <a href="../tournament/tournament.html">Tournaments</a>
             
            </div>
          </div> 

          <!--shop-->
          <div class="dropdown">
            <button class="dropbtn">Shop
             
            </button>
            <div class="dropdown-content">
              <a href="../Item/item.html">shop all</a>
              <a href="#">shop catergory</a>
             
            </div>
          </div> 
          <div class="dropdown">
            <button class="dropbtn">About
         
            </button>
            <div class="dropdown-content">
              <a href="../home/home.html">About Us</a>
              <a href="../contact/contact.html">Contact Us</a>
              <a href="../hoursLocations/hoursLocations.html">Locations/Hours</a>
       

             
            </div>
            
          </div> 
        </div>

<div class="bgimg">
 
    <div class="middle">
      <h1>Reserve A Room </h1>
    
      <h1>COMING SOON</h1>
      <hr>
      <p>... days</p>
    </div>

  </div>
</body>

</html>