/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
  }

/*announcement bar */
.announcementNav{
    font-family: Helvetica, Arial, sans-serif;
    font-size:170%;
    text-align: center;
     background-color: rgb(36, 95, 95);
     padding: 15px;
     color: #fff;
 }
 
 /* Style the search bar */
 .search{
     align-content: center;
 }
 #search-container {
     text-align: center;
     margin-right: 15%;
     margin-top: 20px;
 }
 
 #search-bar {
     padding: 10px;
     width: 600px;
     border: none;
     align-content: center;
     border-radius: 5px;
     margin-left: 900px;
     bottom: -13%;
     margin-left: 3%;
 
 }
 
 #search-button {
     padding: 15px;
     background-color: rgb(36, 95, 95);;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }
 
 /* top navi style*/
 .topNav {
     background-color: #ffffff;
     overflow: hidden;
   }
   
   /* Style the links inside the navigation bar */
   .topNav a {
     float: left;
     color: #080808;
     text-align: center;
     padding: 10px 30px;
     text-decoration: none;
     font-size: 25px;
   
   }
   
   /* Change the color of links on hover */
   .topNav a:hover {
     background-color: #ddd;
     color: rgb(248, 241, 241);
   }
   
 /* Right-aligned section inside the top navigation */
 .topNav-right {
     float: right;
     bottom:0;
   }
 .topNav img {
     width: 40px; /* Adjust the width as needed */
     height: auto; /* Maintain aspect ratio */
     margin: auto;
     bottom:0;
     
 }
 /* Dropdown Button */
 .topNav .dropbtn {
     background-color: #ffffff;
     color: white;
     padding: 3px;
     border: none;
     float:left;
   }
   
   /* The container <div> - needed to position the dropdown content */
   .topNav .dropdown {
     position: relative;
     float:left;
     display: inline-block;
   }
   /*logo size */
   .topNav .logo{
     width: 250px;
   }
 
   /* Dropdown Content (Hidden by Default) */
   .topNav .dropdown-content {
     display: none;
     position: absolute;
     background-color: #e6e6e6;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
 
 
   /* top Links inside the dropdown */
   .topNav .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
   }
   
   /* Change color of dropdown links on hover */
   .topNav .dropdown-content a:hover {
     background-color: #ddd;}
   
   /* Show the dropdown menu on hover */
   .topNav .dropdown:hover .dropdown-content {
     display: block;}
   
   /* Change the background color of the dropdown button when the dropdown content is shown */
   .topNav .dropdown:hover .dropbtn {
     background-color: #f0f0f0;}
 
   /* Style the search box inside the navigation bar */
 .topNav input[type=text] {
     float: center;
     color: #000000;
     border: 2px;
     padding: 6px;
     border: none;
     margin-top: 8px;
     margin-right: 16px;
     font-size: 17px;
   }
  
 
 
 /*home nav*/
 
 .homeNav{
     font-size: 25px;
     overflow: hidden;
     background-color: rgb(36, 95, 95);
   }
   
 .homeNav a {
     float: left;
     font-size: 25px;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
 .homeNav .dropdown {
     font-size: 25px;
     float: left;
     overflow: hidden;
   }
   
 .homeNav .dropdown .dropbtn {
     font-size: 25px;  
     border: none;
     outline: none;
     color: rgb(255, 255, 255);
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
   }
   
 .homeNav a:hover, .dropdown:hover .dropbtn {
     background-color: rgb(153, 151, 151);
   }
   
 .homeNav .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
 .homeNav .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
   }
   
 .homeNav .dropdown-content a:hover {
     background-color: #ddd;
   }
   
 .homeNav .dropdown:hover .dropdown-content {
     display: block;
   }
 
 
 .split {
     height: 100%;
     width: 50%;
     position:fixed;
     z-index: 1;
     bottom: 0;
     overflow-x: hidden;
   }
   
   /* Control the left side */
    .left {
  
     left: 0;
   }
  .bgimg {
    /* Background image */
    background-image:url('../images/reserve.png');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: rgb(0, 0, 0);
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }