/* src/UserAuth/AccountForm.css */
.InputForm .InputText,.InputForm{

	box-sizing:border-box;
}
.InputForm{
	margin:auto;
}
.InputForm h1{
	font-size:22px;
	max-width: 400px;
	height:140px;
}
.InputForm button, .InputForm .SubmitButton{
	background:white;
	border:0;
	font-weight: bold;
	padding:20px;
	width:100%;
}
.InputForm button:hover, .InputForm .SubmitButton{
	cursor:pointer;
	background:#F1F1F1;
}
.InputForm #errorContainer{
	color:red;
}
.InputForm label{
	display:block;
	text-align:left;
	border:1px solid white;
	border-bottom:0;
	padding:5px;
	max-width:400px;
}
.InputForm .InputText{
	background: none;
	border:0;
	width:60%;
	height:30px;
	font-size:16px;
	color:#09CEBE;
}
#continueContainer{
	font-size:12px;
	color:#999999;
	position:absolute;
}
.InputForm .InputText:focus{
	border: 2px double #09CEBE;
}
input:focus,input:active{
	border:0;
}
.InputRadio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 2px;
     height: 20px;
     width: 20px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.InputRadio:checked::before
{
     position: absolute;
     font: 17px/1 'Open Sans', sans-serif;
     left: 6px;
     top: 0px;
     content: '\02143';
     transform: rotate(40deg);
}
.InputRadio:hover
{
     background-color: #f7f7f7;
}
.InputRadio:checked
{
     background-color: #f1f1f1;
}
.InputForm select{
	background-color:transparent;
}
