/* ItemCard.css */
.itemCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    width: 300px; 
    height: 300px; 
    color: white; 
    position: relative;
  }
  
  .itemInfo {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for readability */
    padding: 10px;
  }
  
  .itemName, .itemDescription {
    margin: 5px 0;
  }
  
  
.itemCardLink {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps text color consistent with the rest of the card */
  }

  .itemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the space between cards */
    justify-content: center; /* Center the cards within the container */
  }