.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    background:white;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}
.text {
    color: gray;
    font-size: 100px;
    height: 120px;
    background: white ;
    border-radius: 9px;
}
.underline{
    width: 500px;
    height: 6px;
    background:orange;
    border-radius: 9px;

}

.inputs{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 100px;
    background: orange;
    border-radius: 6px;
    margin-top:25px;
}
.input img{
    margin: 90px 20px;
    width: 40px;
    height: 40px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}
.forgot-password{
    color: black;
    font-size: 20px;
    margin-top: 160px;
    margin-right: 200px;
}
.forgot-password span{
    color: orange;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background-color: orange;
    border-radius: 60px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}
.gray{
    background: white;
    color: gray;
}