
<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Empty</title>
    <!-- link contact css-->
    <link rel="stylesheet" type="text/css" href="empty.css" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"">
</head>

<body>


<nav class="announcementNav">
    announcement
</nav>

    <header>
     
        
    <nav class="topNav" >

          <!-- logo placement-->
          <a  href="../home/home.html">
          <img class="logo"
          src="../images/GEG-logo.png" 
          alt ="Great Escape Games logo"
          >
        </a>

           <!--search bar-->
            <input type="text" id="search-bar" placeholder="Search...">
            <button id="search-button">Search</button>
          
            
         <!--right side of top nav bar login/cart-->
            <div class="topNav-right"> 
    
            <!--login with dropdown-->
            <div class="dropdown">
                <button class ="dropbtn"></button>
            <a href="#login">
                <img src ="../images/login.png" 
                alt = "login"
                >
            </a>
            <div class="dropdown-content">
                <a href="../hours/hours.html">Sign in</a>
                <a href="#">Join</a>
            </div>
        </div>

           <!--cart-->
            <div class="dropdown">
                <a href="../Cart/cart.html" 
               >
                <img src ="../images/cart.png" 
                alt = "cart"
             >
                </a>
        
          </div>
 
        </nav>
</header>
    
   
    <!-- navi bar of home using css class homeNav-->
    <body style="background-color:white;">

        <div class="homeNav">
          <a href="../home/home.html">Home</a>

          <!--news-->
          <div class="dropdown">
            <button class="dropbtn">News
         
            </button>
            <div class="dropdown-content">
              <a href="#">Event Calendar</a>
              <a href="../reserve/reserve.html">Reserve Room</a>
              <a href="../tournament/tournament.html">Tournaments</a>
             
            </div>
          </div> 

          <!--shop-->
          <div class="dropdown">
            <button class="dropbtn">Shop
             
            </button>
            <div class="dropdown-content">
              <a href="../Item/item.html">shop all</a>
              <a href="#">shop catergory</a>
             
            </div>
          </div> 
          <div class="dropdown">
            <button class="dropbtn">About
         
            </button>
            <div class="dropdown-content">
              <a href="../about/about.html">About Us</a>
              <a href="../contact/contact.html">Contact Us</a>
              <a href="../hoursLocations/hoursLocations.html">Locations/Hours</a>
       
    
            </div>
            
          </div> 
        </div>

 <!-- start contact page make box -->
 <h1>Contact Us</h1>

   
    <p>We'll be happy to answer any questions or concerns. 
    </br> Please either call the number below or fill out the form.</p>
    <h4>By Phone</h4>
   
       Sacramento: 916 927 0810 
    </br>  </br>
        Rocklin: 916 927 0810 
 



    
    <!-- Contact page for users to use communicate with company -->
  
 <form >
    <label for = "fName" > First Name:</label>
</br>
        <input 
         type = "text"
          id = "fName" 
          name ="fName" required 
          placeholder="Bob"
          class="space">
      
</br>    </br>
    <label for = "lName" > Last Name:</label>
    
</br>
    <input 
    type = "text" 
    id = "lName" 
    name ="lName" required 
    placeholder="Belcher"
    class="space">
   
</br>    </br>

    <label for = "email" > Email:</label>

</br>
    <input 
    type = "email" 
    id = "email" 
    name ="email" required 
    placeholder="xyz@email.com" 
    class="space">

</br>   </br>
    <label for = "phone" > Phone Number:</label>
</br>
  
    <input 
    type = "tel" 
    id = "phone" 
    name ="phone" 
    class="space" 
    pattern="+[0-9]{1}[0-9]{3}-[0-9]{3}-[0-9]{4}"
    minlength="11"
    maxlength="11"
    placeholder="19161234567"
    required>

</br>
    <label for = "message" > Message:</label>
  
</br>
    <textarea id ="message" 
    class="message" 
    rows="10" 
    cols="22"
    placeholder="Input message"
    required >
    </textarea>
    
</br> </br>
    <button
     id= "sMessage"
    value="sMessage"

    > Send Message</button >
    
</form>

    <!--empty space-->
    <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  

    <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  


    <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  

<!-- footer  -->
<footer>
       
   

    <p>
        Locations
    </br>  </br>
        <a href="Sacramento">Sacramento </a>
    </br>  
        <a href="Rocklin "> Rocklin</a>
    </br> </br> </br>
    </p>

    <div id="subEmail">
    <p> 
        Join us to get updates on events, sales, and more!
    </p>
      
            <input type="email" id="suEmail-bar" placeholder="Enter your Email ...">
            <br></br>
            <button id="sub-button">subscribe</button>
        </div>
        <br>
        <p>
            Resources
            </br> </br>
            <a href="#">Home</a>
            <br>
            <a href="#">About</a>
            <br>
            <a href="../contact/contact.html">Contact Us</a>
            <br>
           
          
            <a href="..\hours\hours.html">Hours</a>
           
        </p>     
      
       
   
   
</footer>    


   
   <!--Social-->
   <footer class="social">
    Sacramento Follow us: 

    <a href="https://www.facebook.com/GEGsacramento" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://www.yelp.com/biz/great-escape-games-sacramento" 
    target="_blank">
        <img src="../images/yelp-logo.png" alt="yelp">
    </a>


    <a href="https://discord.com/invite/QqpvvqK" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>

    <a href="https://www.instagram.com/explore/locations/252481501/great-escape-games-and-comics/?hl=en" 
    target="_blank">
    <img src="../images/instagram-logo.png" alt="Instagram">
    </a>
   
</footer>

<footer class="social">
    Rocklin Follow us: 

    <a href="https://www.facebook.com/GEGRocklin/" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://discord.com/invite/e9sqADWfem" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>
   
</footer>

<footer class="rights"> <p>&copy; 2023 Great Escape Games. All rights reserved.</p></footer>
  
</body>

<!-- footer old
    <footer>
         &copy; 2023 Great Escape Games
         <br>
         <br>  
         <button id="subscribe"> Subscribe </button>
         <br/>  <br />
         <print>Sign up to receive emails on future promotions, events, and specials</print>

    </footer>
-->
</body>


</html>