<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Hours</title>
    <!-- link item css-->
    <link rel="stylesheet" type="text/css" href="hours.css">
</head>

<body>
    <!--using for reference not functional-->
    <nav>
        <ul>
            <a href="item.html">
                <button>Shop all</button>
              
            </a>

            <a href="">
                <button>Shop By Category</button>
            </a>

            <a href="">
            <button>Events</button>
        </a>

            <a href=""> 
            <button>About
                
            </button>

        </a>
            <a href="..\contact\contact.html">
                <button>Contact</button>
            </a>

            <a href="..\cart\cart.html">
                <button>cart</button>
            </a>
        </ul>
    </nav>
    <header>
        <!-- logo placement-->
        <img 
        src="GEG-logo2.png" 
        class="logo">
    <h1>Great Escape Games</h1>
    
    

<!-- hour page-->
    </header>
   
    
    <!-- Item page basic -->
    <body>
        <h1>Hours</h1>
        <h2>Sacramento</h2>
        <ul>
            <li>Mon 12pm - 8pm</li>
            <li>Tues 12pm - 10pm </li>
            <li>Wed 12pm - 8pm</li>
            <li>Thu 12pm - 10pm </li>
            <li>Fri 12pm - 11pm </li>
            <li>Sat 12pm - 10pm </li>
            <li>Sun 12pm - 6pm </li>
        </ul>

        <h2>Rocklin</h2>
        <ul>
            <li>Mon 12pm - 7pm</li>
            <li>Tues 12pm - 7pm </li>
            <li>Wed 12pm - 9pm</li>
            <li>Thu 12pm - 7pm </li>
            <li>Fri 12pm - 11pm </li>
            <li>Sat 12pm - 10pm </li>
            <li>Sun 12pm - 6pm </li>
        </ul>
        

      
    
      <!--empty space-->
      <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  


      <!-- footer -->
   <footer>
       
        <p>Contact: 
        </br>
           <a>Sacramento Phone:916 927 0810 </a>
            <br>
            <a>Rocklin Phone: 916 927 0810 </a>
            
        </p>
        <p>
            Locations:
            <br>
            <a href="Sacramento">Sacramento </a>
            <br>
            <a href="Rocklin "> Rocklin</a>
        </p>

        <p>
            Follow us: 
        </br>
           

            <a href="https://www.facebook.com/GEGsacramento" 
            target="_blank">
                <img src="socialMediaLogo/Facebook_Logo_2023.png" alt="Facebook">

            <a href="https://www.yelp.com/biz/great-escape-games-sacramento" 
            target="_blank">
                <img src="socialMediaLogo/yelp-logo.png" alt="yelp">
            </a>

        <br>

            <a href="https://discord.com/invite/QqpvvqK" 
            target="_blank">
                <img src="socialMediaLogo/discord-logo.png" alt="discord">
            </a>

            <a href="https://www.instagram.com/explore/locations/252481501/great-escape-games-and-comics/?hl=en" 
            target="_blank">
            <img src="socialMediaLogo/instagram-logo.png" alt="Instagram"></a>
            </a>
           
        </p>

        <p>
            <a href="#">Home</a>
            <br>
            <a href="#">About</a>
            <br>
            <a href="#">Services</a>
            <br>
            <a href="#">Contact</a>
            <br>
            <a href="#">Hours</a>
        </p>
       
    </footer>    
    
    <footer class="rights"> <p>&copy; 2023 Great Escape Games. All rights reserved.</p></footer>
      
</body>


</html>