
<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <!-- link about css-->
    <link rel="stylesheet" type="text/css" href="about.css" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"">
</head>

<body>


<nav class="announcementNav">
    announcement
</nav>

    <header>
     
        
    <nav class="topNav" >

          <!-- logo placement-->
          <a  href="../home/home.html">
          <img class="logo"
          src="../images/GEG-logo.png" 
          alt ="Great Escape Games logo"
          >
        </a>

           <!--search bar-->
            <input type="text" id="search-bar" placeholder="Search...">
            <button id="search-button">Search</button>
          
            
         <!--right side of top nav bar login/cart-->
            <div class="topNav-right"> 
    
            <!--login with dropdown-->
            <div class="dropdown">
                <button class ="dropbtn"></button>
            <a href="#login">
                <img src ="../images/login.png" 
                alt = "login"
                >
            </a>
            <div class="dropdown-content">
                <a href="../hours/hours.html">Sign in</a>
                <a href="#">Join</a>
            </div>
        </div>

           <!--cart-->
            <div class="dropdown">
                <a href="../Cart/cart.html" 
               >
                <img src ="../images/cart.png" 
                alt = "cart"
             >
                </a>
        
          </div>
 
        </nav>
</header>
    
   
    <!-- navi bar of home using css class homeNav-->
    <body style="background-color:white;">

        <div class="homeNav">
          <a href="../home/home.html">Home</a>

          <!--news-->
          <div class="dropdown">
            <button class="dropbtn">News
         
            </button>
            <div class="dropdown-content">
              <a href="#">Event Calendar</a>
              <a href="../reserve/reserve.html">Reserve Room</a>
              <a href="../tournament/tournament.html">Tournaments</a>
             
            </div>
          </div> 

          <!--shop-->
          <div class="dropdown">
            <button class="dropbtn">Shop
             
            </button>
            <div class="dropdown-content">
              <a href="../Item/item.html">shop all</a>
              <a href="#">shop catergory</a>
             
            </div>
          </div> 
          <div class="dropdown">
            <button class="dropbtn">About
         
            </button>
            <div class="dropdown-content">
              <a href="about.html">About Us</a>
              <a href="../contact/contact.html">Contact Us</a>
              <a href="../hoursLocations/hoursLocations.html">Locations/Hours</a>
       
    
            </div>
            
          </div> 
        </div>

<!--about Page-->

<h3>Mission</h3>
<h5 class="pCenter">
    "We strive to create a space where you are able to let your imagination free"

</h5>


<h3>About Us</h3>

<div class="container">
    
<p class="pCenter">
    Great Escape Games where you can free your imaginations. We first began our 
    <br>
    journey 25 years ago, serving the Sacramento community. Now we areexpanding
    <br>
    our business into Rocklin. Over the years we have brought many people together 

    <br>
    wether that is through purchasing our products or attending our event.
    <br>
    We are excited for you to continue joining our community. 

    <br>

</p>


</div>
<img src="../images/rocklin.jpg" alt="rocklin locations">
<!--
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../images/person.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>someEmail@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../images/person.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../images/person.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
-->


    <!--empty space-->
    <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  

    <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  


    <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  

<!-- footer  -->
<footer>
       
   

    <p>
        Locations
    </br>  </br>
        <a href="Sacramento">Sacramento </a>
    </br>  
        <a href="Rocklin "> Rocklin</a>
    </br> </br> </br>
    </p>

    <div id="subEmail">
    <p> 
        Join us to get updates on events, sales, and more!
    </p>
      
            <input type="email" id="suEmail-bar" placeholder="Enter your Email ...">
            <br></br>
            <button id="sub-button">subscribe</button>
        </div>
        <br>
        <p>
            Resources
            </br> </br>
            <a href="../home/home.html">Home</a>
            <br>
            <a href="about.html">About</a>
            <br>
            <a href="../contact/contact.html">Contact Us</a>
            <br>
           
          
            <a href="..\hours\hours.html">Hours</a>
           
        </p>     
      
       
   
   
</footer>    


   
   <!--Social-->
   <footer class="social">
    Sacramento Follow us: 

    <a href="https://www.facebook.com/GEGsacramento" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://www.yelp.com/biz/great-escape-games-sacramento" 
    target="_blank">
        <img src="../images/yelp-logo.png" alt="yelp">
    </a>


    <a href="https://discord.com/invite/QqpvvqK" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>

    <a href="https://www.instagram.com/explore/locations/252481501/great-escape-games-and-comics/?hl=en" 
    target="_blank">
    <img src="../images/instagram-logo.png" alt="Instagram">
    </a>
   
</footer>

<footer class="social">
    Rocklin Follow us: 

    <a href="https://www.facebook.com/GEGRocklin/" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://discord.com/invite/e9sqADWfem" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>
   
</footer>

<footer class="rights"> <p>&copy; 2023 Great Escape Games. All rights reserved.</p></footer>
  
</body>

<!-- footer old
    <footer>
         &copy; 2023 Great Escape Games
         <br>
         <br>  
         <button id="subscribe"> Subscribe </button>
         <br/>  <br />
         <print>Sign up to receive emails on future promotions, events, and specials</print>

    </footer>
-->
</body>


</html>