<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <!-- link item css-->
    <link rel="stylesheet" type="text/css" href="item.css">
</head>

<body>
    <!--home nav-->
    <nav>
        <ul>
            <a href="item.html">
                <button>Shop all</button>
              
            </a>

            <a href="">
                <button>Shop By Category</button>
            </a>

            <a href="">
            <button>Events</button>
        </a>

            <a href=""> 
            <button>About
                
            </button>

        </a>
            <a href="..\contact\contact.html">
                <button>Contact</button>
            </a>

            <a href="..\cart\cart.html">
                <button>cart</button>
            </a>
        </ul>
    </nav>

    <header>
        <!-- logo placement-->
        <img 
        src="../images/GEG-logo2.png" 
        class="logo">
    <h1>Great Escape Games</h1>
       </header>
    

<!-- start item page-->

    <body>

        <!--PRODUCT image-->
        <img  
        src="../images/holder.JPG"
        class="itemplace">
        
        <div class="itemplace">
        <h1 >Item Name</h1>
        <sub >$10.00</sub>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>
             Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <!--Add to cart link and button-->
    <a href="..\cart\cart.html">
        <button id="add">Add to Cart</button>
    </a>

        <!-- of you may like center using css-->
        
        <h2>You may also like</h2>
        
        <div class="centerMay">
            <a href="..\cart\cart.html">
        <img  src="../images/holder.JPG" >
        <h3 >Item name 1</h3>
    <sub>Price</sub>
        </a>
    </div>

    <div class="centerMay">
        <a href="..\contact\contact.html">
        <img src="../images/holder.JPG">
        <h3>Item name 2</h3>
    <sub>$$$</sub>
        </a>
    </div>

    <div class="centerMay">
        <a href="..\hours\hours.html">
            <img src="../images/holder.JPG">
            <h3 >Item name 3</h3>
        <sub>$$$</sub>
            </a>
        </div>

<!--
    <div class="suggestionText">
    <h3>Item name1</h3>
    <sub>Price</sub>


    <h3>Item name2</h3>
    <sub>$$$</sub>

    <h3>Item name3</h3>
    <sub>Price</sub>
 
    </div>
   
    -->
      <!--empty space-->
      <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  



      <!-- footer  -->
   <footer>
       
        <p>Contact: 
        </br>  </br>
           Sacramento Phone:916 927 0810 
        </br>  </br>
            Rocklin Phone: 916 927 0810 
        </br>  </br>

        <a href="..\contact\contact.html">Contact Us</a>
        
            
        </p>

        <p>
            Locations
        </br>  </br>
            <a href="Sacramento">Sacramento </a>
        </br>  
            <a href="Rocklin "> Rocklin</a>
        </br> </br> </br>
        </p>

      

        
        <p>
            Site Guide
            </br> </br>
            <a href="#">Home</a>
            <br>
            <a href="#">About</a>
            <br>
            <a href="#">Services</a>
            <br>
           
          
            <a href="..\hours\hours.html">Hours</a>
        </p>
       
    </footer>    

    
        <!--Social-->
        <footer class="social">
            Sacramento Follow us: 
        
            <a href="https://www.facebook.com/GEGsacramento" 
            target="_blank">
                <img src="../images/Facebook-Logo.png" alt="Facebook">

            <a href="https://www.yelp.com/biz/great-escape-games-sacramento" 
            target="_blank">
                <img src="../images/yelp-logo.png" alt="yelp">
            </a>

       
            <a href="https://discord.com/invite/QqpvvqK" 
            target="_blank">
                <img src="../images/discord-logo.png" alt="discord">
            </a>

            <a href="https://www.instagram.com/explore/locations/252481501/great-escape-games-and-comics/?hl=en" 
            target="_blank">
            <img src="../images/instagram-logo.png" alt="Instagram">
            </a>
           
        </footer>

        <footer class="social">
            Rocklin Follow us: 
        
            <a href="https://www.facebook.com/GEGRocklin/" 
            target="_blank">
                <img src="../images/Facebook-logo.png" alt="Facebook">

            <a href="https://discord.com/invite/e9sqADWfem" 
            target="_blank">
                <img src="../images/discord-logo.png" alt="discord">
            </a>
           
        </footer>
    
    <footer class="rights"> <p>&copy; 2023 Great Escape Games. All rights reserved.</p></footer>
      
</body>


</html>