<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <!-- link item css-->
    <link rel="stylesheet" type="text/css" href="item.css">
</head>

<body>
    <!--using for reference not functional-->
    <nav>
        <ul>
            <a href="item.html">
                <button>Shop all</button>
              
            </a>

            <a href="">
                <button>Shop By Category</button>
            </a>

            <a href="">
            <button>Events</button>
        </a>

            <a href=""> 
            <button>About
                
            </button>

        </a>
            <a href="..\contact\contact.html">
                <button>Contact</button>
            </a>

            <a href="..\cart\cart.html">
                <button>cart</button>
            </a>
        </ul>
    </nav>
    <header>
        <!-- logo placement-->
        <img 
        src="placeholder.png" 
        class="logo">
    <h1>Great Escape Games</h1>
    
    

<!-- start item page-->
    </header>
   
    
    <!-- Item page basic -->
    <body>

        <!--PRODUCT image-->
        <img
        src="holder.JPG">
        <div class="itemplace">
        <h1 >Item Name</h1>
        <sub >$10.00</sub>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>
             Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <!--Add to cart link and button-->
    <a href="..\cart\cart.html">
        <button id="add">Add to Cart</button>
    </a>

        <!-- of you may like center using css-->
        
        <h2>You may also like</h2>
        <div class="centerMay">
        <img  src="holder.JPG" >
       

        <img src="holder.JPG">

        <img src="holder.JPG">
     
    </div>

    <div class="suggestionText">
    <h3>Item name1</h3>
    <sub>Price</sub>


    <h3>Item name2</h3>
    <sub>$$$</sub>

    <h3>Item name3</h3>
    <sub>Price</sub>
 
    </div>
   
    
      <!--empty space-->
      <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  


      <!-- footer -->
          <footer>
               &copy; 2023 Great Escape Games
               <br>
               <br>  
               <button id="subscribe"> Subscribe </button>
               <br/>  <br />
               <print>Sign up to receive emails on future promotions, events, and specials</print>
      
          </footer>
      
</body>


</html>