
<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <!-- link contact css-->
    <link rel="stylesheet" type="text/css" href="contact.css">
</head>

<body>
    <!--using for reference not functional-->
    <nav>
        <ul>
            <a href="">
                <button>Shop all</button>
            </a>

            <a href="..\item\item.html">
                <button>Shop By Category</button
                    ></a>

            <a href="">
            <button>Events</button>
        </a>

            <a href=""> 
            <button>About
                
            </button>

        </a>
            <a href="contact.html">
                <button>Contact</button>
            </a>

            <!-- link to cart placeholder-->
            <a href="..\cart\cart.html">
                <button>cart</button>
            </a>
        </ul>
    </nav>
    <header>
        <!-- logo placement-->
        <img 
        src="GEG-logo2.png" 
        class="logo">
    <h1>Great Escape Games</h1>
    
    

<!-- start contact pafe-->
    </header>
    <h1>Contact Us</h1>
    
    <!-- Contact page for users to use communicate with company -->
    <!-- keeps it out of url  action="submit.php" method="POST" or whatever we use to secure-->
    <form >
        <ul>
        <label for = "fName" > First Name:</label>
        <li>
            <input 
             type = "text"
              id = "fName" 
              name ="fName" required 
              placeholder="Bob"
              class="space">
            </li>
        </ul>
        
        <ul>
        <label for = "lName" > Last Name:</label>

        <li></li>
        <input 
        type = "text" 
        id = "lName" 
        name ="lName" required 
        placeholder="Belcher"
        class="space">
        </ul>

        <br>
        <label for = "email" > Email:</label>
        <br>
        <input 
        type = "email" 
        id = "email" 
        name ="email" required 
        placeholder="xyz@email.com" 
        class="space">
        <br>

        <label for = "phone" > Phone Number:</label>
        <br>
        <input 
        type = "tel" 
        id = "phone" 
        name ="phone" 
        class="space" 
        //pattern="+[0-9]{1}[0-9]{3}-[0-9]{3}-[0-9]{4}" 
        minlength="11"
        maxlength="11"
        placeholder="19161234567"
        required 
        >

        <br>
        <label for = "message" > Message:</label>
        <br>

        <!-- better solution?
        <input
         type = "text" 
         id = "message"
         name ="message" required 
         rows ="300";
         class="mSpace">
        -->

        <textarea id ="message" 
        class="message" 
        rows="10" 
        cols="22"
        placeholder="Input message"
        required 
        ></textarea>


    </br> </br>
        <button
         id= "sMessage"
        value="sMessage"

        > Send Message</button >
        

    </form>
   
    <!--empty space-->
    <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  



<!-- footer  -->
<footer>
       
    <p>Contact: 
    </br>  </br>
       Sacramento Phone:916 927 0810 
    </br>  </br>
        Rocklin Phone: 916 927 0810 
    </br>  </br>

    <a href="..\contact\contact.html">Contact Us</a>
    
        
    </p>

    <p>
        Locations
    </br>  </br>
        <a href="Sacramento">Sacramento </a>
    </br>  
        <a href="Rocklin "> Rocklin</a>
    </br> </br> </br>
    </p>

  

    
    <p>
        Site Guide
        </br> </br>
        <a href="#">Home</a>
        <br>
        <a href="#">About</a>
        <br>
        <a href="#">Services</a>
        <br>
       
      
        <a href="..\hours\hours.html">Hours</a>
    </p>
   
</footer>    


    <!--Social-->
   <!--Social-->
   <footer class="social">
    Sacramento Follow us: 

    <a href="https://www.facebook.com/GEGsacramento" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://www.yelp.com/biz/great-escape-games-sacramento" 
    target="_blank">
        <img src="../images/yelp-logo.png" alt="yelp">
    </a>


    <a href="https://discord.com/invite/QqpvvqK" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>

    <a href="https://www.instagram.com/explore/locations/252481501/great-escape-games-and-comics/?hl=en" 
    target="_blank">
    <img src="../images/instagram-logo.png" alt="Instagram">
    </a>
   
</footer>

<footer class="social">
    Rocklin Follow us: 

    <a href="https://www.facebook.com/GEGRocklin/" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://discord.com/invite/e9sqADWfem" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>
   
</footer>

<footer class="rights"> <p>&copy; 2023 Great Escape Games. All rights reserved.</p></footer>
  
</body>

<!-- footer old
    <footer>
         &copy; 2023 Great Escape Games
         <br>
         <br>  
         <button id="subscribe"> Subscribe </button>
         <br/>  <br />
         <print>Sign up to receive emails on future promotions, events, and specials</print>

    </footer>
-->
</body>


</html>