/*contact css */
html {
    overflow-x: hidden;
    }
/*  set size */
.site-wrapper {
    max-width: 1200px; /* Set a maximum width for the site wrapper */
    text-align: center;
    padding: 20px; /* Add padding for spacing around the content */
    background-color: #f0f0f0; /* Set a background color for the site wrapper */
}
.space {
    margin-bottom: 20 px;
    background-color: #B9D9EB;
    border-color: #B9D9EB;
    box-shadow: none;
    padding: 0.3%;
 
}

input{
    width: 500px;
    height: 50px;

}

.logo{
    position:absolute;
    bottom: -16%;
    left: -2%;
    margin-left: 3%;
    width: 150px;
    height: auto;
}

.message{
    background-color: #B9D9EB;
    border-color: #B9D9EB;
    box-shadow: none;
    width: 500px;
    height: auto;
}

.blank{
    margin-bottom:"2038px";
}

#subscribe{
    background-color: black;
    color:white;
    text-size-adjust: auto;
    padding: 0.7%;
}

nav{
    text-align: left;
   

}

header{
    background-color:rgb(109, 116, 116) ;
    text-align: center;
    position: relative;
    width: 100%;
    height: 400%;
    padding:15px;
}

body{
    font-family:Helvetica, sans-serif ;
    text-align: center;
    margin-bottom: 10 px;
   
   /*text-align: center; */

}

form{
    
    p {
        padding: 8px;
        text-align: center;
        width: 600px;
        /* other styling 
        background-color: #33475b;*/
        /*border-radius: 10px; */ 
        color: white;
        font-family: Arial;
      }
}

footer{
    background-color:#72A0C1 ;
    text-align: center;
    padding: 5px;

}


footer {
    background-color:#72A0C1 ;
    color: #fff;
    padding: auto;
    text-align: center;
    display: flex;
    justify-content:space-evenly; /* Adjust as needed */
    align-items: center;
}
footer a:hover {
    text-decoration: underline;
}



footer img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: auto;
    padding: 10px;
   
}

/*set social in middle close together */
.social{
    margin: auto;
    justify-content: center;
   
}

.rights{
    background-color:#000000 ;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content:space-evenly; /* Adjust as needed */
    align-items: center;
}


/* send message button */
#sMessage{
    padding: 15px;
}
