<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <!-- link contact css-->
    <link rel="stylesheet" type="text/css" href="locations.css">
</head>

<body>


<nav class="announcementNav">
    announcement
</nav>

    <header>
        <!-- logo placement-->
        <img 
        src="../images/GEG-logo.png" 
        alt ="Great Escape Games logo"
        class="logo">

        <!--search bar-->
        <div id="search-container">
            <input type="text" id="search-bar" placeholder="Search...">
            <button id="search-button">Search</button>
        </div>
   <!--     
    <nav class="topNav" >
        <div class="dropdown">
            <button class="dropbtn"></button>
            <a href=""> <img src ="../images/login.png"
                alt = "login">
                </a>
                
           

            <div class="dropdown-content">
                <a href="../hours/hours.html">Sign in</a>
                <a href="#">Join</a>
              
            </div>
        </div>

        <!-- link to cart
               <div class="dropdown"> 
                <a href="..\cart\cart.html">
                    <img src ="../images/cart.png" 
                    alt = "cart"
                    class="topNavImg"
                    > 
                </a>
            </div>
        -->
    
        </nav>
</header>
    
   
    <!-- navi bar of home using css class homeNav-->
    <body style="background-color:white;">

        <div class="navbar">
          <a href="#home">Home</a>
          <a href="#news">News</a>
          <div class="dropdown">
            <button class="dropbtn">Shop
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">shop all</a>
              <a href="#">shop catergory</a>
             
            </div>
          </div> 
          <div class="dropdown">
            <button class="dropbtn">About
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">about Us</a>
              <a href="../contact/contact.html">Contact Us</a>
              <a href="../hours/hours.html">Hours</a>
              <a href="locations.html">locations</a>

             
            </div>
          </div> 
        </div>
        

<h1>Locations</h1>

<h2>Sacramento:</h2>
<p>
Address: 1250 Howe Ave #3a, Sacramento, CA 95825

</p>

<h2>Rocklin: </h2>
<p>

Address: 5050 Rocklin Road, Suite A22, Rocklin, CA 95677
</p>
     
    
</ul>
 
   
    <!--empty space-->
    <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  



<!-- footer  -->
<footer>
       
   

    <p>
        Locations
    </br>  </br>
        <a href="Sacramento">Sacramento </a>
    </br>  
        <a href="Rocklin "> Rocklin</a>
    </br> </br> </br>
    </p>

  

    
    <p>
        Resources
        </br> </br>
        <a href="#">Home</a>
        <br>
        <a href="#">About</a>
        <br>
        <a href="../contact/contact.html">Contact Us</a>
        <br>
       
      
        <a href="..\hours\hours.html">Hours</a>
       
    </p>
    <div id="subEmail">
    <p> Subscribe 
    </br>
        Join us to get updates on events, sales, and more!
    </p>
      
            <input type="email" id="suEmail-bar" placeholder="Enter your Email ...">
            <button id="sub-button">subscribe</button>
        </div>
        <br>
       
      
       
   
   
</footer>    


   
   <!--Social-->
   <footer class="social">
    Sacramento Follow us: 

    <a href="https://www.facebook.com/GEGsacramento" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://www.yelp.com/biz/great-escape-games-sacramento" 
    target="_blank">
        <img src="../images/yelp-logo.png" alt="yelp">
    </a>


    <a href="https://discord.com/invite/QqpvvqK" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>

    <a href="https://www.instagram.com/explore/locations/252481501/great-escape-games-and-comics/?hl=en" 
    target="_blank">
    <img src="../images/instagram-logo.png" alt="Instagram">
    </a>
   
</footer>

<footer class="social">
    Rocklin Follow us: 

    <a href="https://www.facebook.com/GEGRocklin/" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://discord.com/invite/e9sqADWfem" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>
   
</footer>

<footer class="rights"> <p>&copy; 2023 Great Escape Games. All rights reserved.</p></footer>
  
</body>


</body>


</html>