<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Hours</title>
    <!-- link item css-->
    <link rel="stylesheet" type="text/css" href="hoursLocations.css">
</head>

<body>

    <nav class="announcementNav">
        announcement
    </nav>
    
        <header>
         
            
        <nav class="topNav" >
    
              <!-- logo placement-->
              <a  href="home">
              <img class="logo"
              src="../images/GEG-logo.png" 
              alt ="Great Escape Games logo"
              >
            </a>
    
               <!--search bar-->
                <input type="text" id="search-bar" placeholder="Search...">
                <button id="search-button">Search</button>
              
                
             <!--right side of top nav bar login/cart-->
                <div class="topNav-right"> 
        
                <!--login with dropdown-->
                <div class="dropdown">
                    <button class ="dropbtn"></button>
                <a href="#login">
                    <img src ="../images/login.png" 
                    alt = "login"
                    >
                </a>
                <div class="dropdown-content">
                    <a href="../hours/hours.html">Sign in</a>
                    <a href="#">Join</a>
                </div>
            </div>
    
               <!--cart-->
                <div class="dropdown">
                    <a href="../Cart/cart.html" 
                   >
                    <img src ="../images/cart.png" 
                    alt = "cart"
                 >
                    </a>
            
              </div>
     
            </nav>
    </header>
        
       
        <!-- navi bar of home using css class homeNav-->
        <body style="background-color:white;">
    
            <div class="homeNav">
              <a href="#home">Home</a>
    
              <!--news-->
              <div class="dropdown">
                <button class="dropbtn">News
             
                </button>
                <div class="dropdown-content">
                  <a href="#">Event Calendar</a>
                  <a href="../reserve/reserve.html">Reserve Room</a>
                  <a href="../tournament/tournament.html">Tournaments</a>
                 
                </div>
              </div> 
    
              <!--shop-->
              <div class="dropdown">
                <button class="dropbtn">Shop
                 
                </button>
                <div class="dropdown-content">
                  <a href="../Item/item.html">shop all</a>
                  <a href="#">shop catergory</a>
                 
                </div>
              </div> 
              <div class="dropdown">
                <button class="dropbtn">About
             
                </button>
                <div class="dropdown-content">
                  <a href="#">About Us</a>
                  <a href="../contact/contact.html">Contact Us</a>
                  <a href="../hoursLocations/hoursLocations.html">Locations/Hours</a>
       
    
                 
                </div>
                
              </div> 
            </div>
    
<!-- hour page-->
 
    <body>
       
        <h1>Location/Hours of Operations:</h1>
        <br>
        <h2>@ Sacramento</h2>

      
        <ul>
            <li>1250 Howe Ave #3a, Sacramento, CA 95825 </li>
            <li>Mon 12pm - 8pm</li>
            <li>Tues 12pm - 10pm </li>
            <li>Wed 12pm - 8pm</li>
            <li>Thu 12pm - 10pm </li>
            <li>Fri 12pm - 11pm </li>
            <li>Sat 12pm - 10pm </li>
            <li>Sun 12pm - 6pm </li>
        </ul>
        
        <br>
        <h2>@ Rocklin</h2>
      
       
        <ul>
            <li>5050 Rocklin Road, Suite A22, Rocklin, CA 95677</li>
            <li>Mon 12pm - 7pm</li>
            <li>Tues 12pm - 7pm </li>
            <li>Wed 12pm - 9pm</li>
            <li>Thu 12pm - 7pm </li>
            <li>Fri 12pm - 11pm </li>
            <li>Sat 12pm - 10pm </li>
            <li>Sun 12pm - 6pm </li>
        </ul>
  
    
      <!--empty space-->
      <br />   <br />   <br />   <br />  <br />   <br />   <br />   <br />   <br />  <br />  <br />  
    </br> </br> </br>
</br> </br> </br>
</br> </br> </br>
   <!-- footer  -->
<footer>
       
    <p>Contact: 
    </br>  </br>
       Sacramento Phone:916 927 0810 
    </br>  </br>
        Rocklin Phone: 916 927 0810 
    </br>  </br>

    <a href="..\contact\contact.html">Contact Us</a>
    
        
    </p>

    <p>
        Locations
    </br>  </br>
        <a href="Sacramento">Sacramento </a>
    </br>  
        <a href="Rocklin "> Rocklin</a>

    </p>

  

    
    <p>
        Site Guide
        </br> </br>
        <a href="#">Home</a>
        <br>
        <a href="#">About</a>
        <br>
        <a href="#">Services</a>
        <br>
       
      
        <a href="..\hours\hours.html">Hours</a>
    </p>
   
</footer>    


    <!--Social-->
   <!--Social-->
   <footer class="social">
    Sacramento Follow us: 

    <a href="https://www.facebook.com/GEGsacramento" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://www.yelp.com/biz/great-escape-games-sacramento" 
    target="_blank">
        <img src="../images/yelp-logo.png" alt="yelp">
    </a>


    <a href="https://discord.com/invite/QqpvvqK" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>

    <a href="https://www.instagram.com/explore/locations/252481501/great-escape-games-and-comics/?hl=en" 
    target="_blank">
    <img src="../images/instagram-logo.png" alt="Instagram">
    </a>
   
</footer>

<footer class="social">
    Rocklin Follow us: 

    <a href="https://www.facebook.com/GEGRocklin/" 
    target="_blank">
        <img src="../images/Facebook-logo.png" alt="Facebook">

    <a href="https://discord.com/invite/e9sqADWfem" 
    target="_blank">
        <img src="../images/discord-logo.png" alt="discord">
    </a>
   
</footer>

<footer class="rights"> <p>&copy; 2023 Great Escape Games. All rights reserved.</p></footer>
   
</body>


</html>