/* src/App.css */

.App {
  display: flex;
  height: 100vh; /* 100% of the viewport height */
}

.menu {
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 30vh; /* 30% of the viewport height */
  max-width: 100%;
}
